[src="images/EVchart.png"]{
   width: 80%;
   border-radius: 10px;
   box-shadow: 0 0 5px var(--blaxkForBoxShadow);
   max-width: 700px;
}
figure{
   font-size: medium;
   text-align: center;
   margin: 8px;
}

li > a{
text-decoration: none;
padding: 4px;
margin: 4px;
border-radius: 8px;
font-size: large;
}

